

div.select-checkbox {
    display: none;
    overflow: auto;
    max-height: 250px;
    max-width: 250px;
    min-width: 150px;
}

.select-checkbox-container {
    display: inline-block;
    vertical-align: top;
}

.toggle-select-checkbox {
    display: block;
}

div.select-checkbox.checkboxes-shown {
    display: inline-block;
}
