

div.select-checkbox {
    display: none;
    overflow: auto;
    max-height: 250px;
    max-width: 250px;
    min-width: 150px;
}

.select-checkbox-container {
    display: inline-block;
    vertical-align: top;
}

.toggle-select-checkbox {
    display: block;
    pointer: cursor;
}

.toggle-select-checkbox:hover {
    border-bottom: 1px solid #ddd;
}


.toggle-select-checkbox.checkboxes-invisible:before {
    content: '\2192';    
}

.toggle-select-checkbox.checkboxes-visible:before {
    content: '\2193';    
}

.toggle-select-checkbox.checkboxes-visible {
    font-weight: bold;
}


div.select-checkbox.checkboxes-shown {
    display: inline-block;
}
